<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for('static', filename='css/tailwind.min.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='js/jquery.modal.min.js') }}></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/jquery.modal.min.css') }} />
    <title>Hostelier Hostels | Book a room</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="ex0" class="modal">
                    <p style="margin: 3px auto 7px auto;">{{ message }}</p>
                </div>
                <script type="text/javascript">$('#ex0').modal();</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="ex1" class="modal">
        <span><b>Enter the m-pesa transaction code</b></span><br><br>
        <form action="/verifydeposit" method="POST">
            <input class="textbox" name="mpesa" type="text" placeholder="M-pesa transaction code" required /><br>
            <button type="submit" class="regular-btn" style="width: max-content;">Confirm payment</button>
        </form>
    </div>
    <div class="page">
        <div class="content">
            <div>
                <img style="height: 4rem; width: auto; margin: auto;" src={{ url_for('static', filename='img/logo.png') }} alt="Hostelier Hostels" />
                <h2>Book a room</h2>
                <p><a href="#ex1" rel="modal:open">Confirm payment of deposit</a></p>
            </div>
            <form class="login-form" action="/bookroom" method="POST">
                <div class="form-content-1">
                    <div>
                        <input class="input-1" name="firstname" type="text" placeholder="First name" required />
                        <input class="input-m" name="lastname" type="text" placeholder="Last name" required />
                        <input class="input-m" name="email" type="email" placeholder="Email address" required />
                        <input id="phone" class="input-m" name="telephone" type="tel" placeholder="Phone number" pattern="[\+](254)[17][0-9]{8}" title="+254 [7|1] xx xxx xxx" required />
                        <input class="input-2" name="university" type="text" placeholder="Name of university" required />
                    </div>
                </div>
                <div class="combobox">
                    <span>Gender</span>
                    <select name="gender" style="width: 100%; border-radius: 0.375rem;" required>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="combobox">
                    <span>Room type</span>
                    <select name="roomtype" style="width: 100%; border-radius: 0.375rem;" required>
                        <option value=1>2-person sharing</option>
                        <option value=2>4-person sharing</option>
                    </select>
                </div>
                <div style="margin-top: 1.4rem;">
                    <button type="submit" class="submit-btn">Book Now</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>