<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for('static', filename='css/tailwind.min.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='js/jquery.modal.min.js') }}></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/jquery.modal.min.css') }} />
    <title>Hostelier Hostels | Reset password</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="ex0" class="modal">
                    <p style="margin: 3px auto 7px auto;">{{ message }}</p>
                </div>
                <script type="text/javascript">$('#ex0').modal();</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="page">
        <div class="content">
            <div>
                <img style="height: 4rem; width: auto; margin: auto;" src={{ url_for('static', filename='img/logo.png') }} alt="Hostelier Hostels" />
                <h2>Reset password</h2>
            </div>
            <form class="login-form" action="/resetpassword" method="POST">
                <div class="form-content-1">
                    <div>
                        <input name="email" type="email" value="{{ data }}" hidden />
                        <input class="textbox" name="newpass" type="password" placeholder="New Password" style="width: -moz-available;" required />
                    </div>
                </div>
                <div style="margin-top: 1.4rem;">
                    <button type="submit" class="submit-btn">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>